@font-face {
  font-family: Poppins;
  src: url(/static/fonts/Poppins-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color:#080820;
  transition: background-color 0.5s ease;
  font-family: Poppins, sans-serif;
  padding: 0px;
  spacing: 0px;
  margin: 0px;
  border: solid 0px black;
}

div#maincontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2000px;
}

div.centerColumn {
  color:#FFFFFF;
  flex-basis: 800px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
}

div.sideColumn {
  flex-basis: 100px;
  flex-grow: 3;
  flex-shrink: 1;
  width: 100%;
}

div.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}

div.colored {
  background-color:#FFFFFF11;
}

div.outline {
  border: 1px solid #FFFFFF11;
}

span.title {
  font-size: 50pt;
  font-weight: bold;
  text-shadow: 4px 4px #BB00BB;
}
div#bar {
  position: fixed;
  top:0;
  left:0;
  height: 20px;
  width: 100%;
  background-color: #080820;
  border: 1px solid #FFFFFF11;
  border-width: 0 0 1px 0;
}
